@import 'reset.css';
@import 'fonts.css';
@import 'common.css';
@import './main.css';

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.hero-section {
  display: flex;
  justify-content: space-between;
}

.projects-section .inner {
  display: flex;
  justify-content: space-between;
}

.footer .info {
  display: flex;
}
