.footer {
  padding-bottom: 5%;
}

.info {
  justify-content: center;
  align-items: center;
  column-gap: 63px;
  font-size: 18px;
  font-size: 18px;
  color: #42446e;
  margin-bottom: 5%;
}
.footer .list {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.line {
  color: #666;
  margin-bottom: 5%;
}

.footer .nav .list {
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 724px) {
  .footer .nav .list .item {
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  .info {
    flex-direction: column;
    row-gap: 20px;
  }
}
