.nav {
  margin: 0 15px;
}

.nav .list {
  display: flex;
  align-items: center;
}
.nav .list .item {
  margin-right: 60px;
}
.nav .list .item:last-child {
  margin-right: 0;
}
.nav .list .item .link {
  font-size: 20px;
  font-weight: 500;
  font-family: DM_Sans, sans-serif, Arial;
}

@media screen and (max-width: 920px) {
  .nav .list .item {
    margin-right: 30px;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    margin: 0;
  }
}
